<h1>Corrida em <%= @race_day.track %> - <%= @race_day.date.strftime("%d/%m/%Y") %></h1>

<h2>Pilotos Inscritos:</h2>
<ol>
  <% @race_day.pilot_registrations.limit(@race_day.max_pilots).each do |registration| %>
    <li><%= registration.pilot_name %> - Carro Nº <%= registration.car_number.number %></li>
  <% end %>
</ol>

<% if @race_day.pilot_registrations.count > @race_day.max_pilots %>
  <h2>Lista de Espera:</h2>
  <ol>
    <% @race_day.pilot_registrations.offset(@race_day.max_pilots).each do |registration| %>
      <li><%= registration.pilot_name %> - Carro Nº <%= registration.car_number.number %></li>
    <% end %>
  </ol>
<% end %>

<%= link_to "Inscrever-se", new_race_day_pilot_registration_path(@race_day) %>
