<div class="container mt-5">
  <h1>Corrida em <%= @race_day.track %> - <%= @race_day.date.strftime("%d/%m/%Y") %></h1>

  <%= link_to "Inscrever-se", new_race_day_pilot_registration_path(@race_day), class: 'btn btn-primary' %>

  <h2>Pilotos Inscritos:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome do Piloto</th>
        <th>Número do Carro</th>
      </tr>
    </thead>
    <tbody>
      <% @race_day.pilot_registrations.limit(@race_day.max_pilots).each do |registration| %>
        <tr>
          <td><%= registration.pilot_name %></td>
          <td><%= registration.car_number.number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @race_day.pilot_registrations.count > @race_day.max_pilots %>
    <h2>Lista de Espera:</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Piloto</th>
          <th>Número do Carro</th>
        </tr>
      </thead>
      <tbody>
        <% @race_day.pilot_registrations.offset(@race_day.max_pilots).each do |registration| %>
          <tr>
            <td><%= registration.pilot_name %></td>
            <td><%= registration.car_number.number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<style>
body{
  color: white;
}

td, tr {
  color: white;
}


</style>
