<div class="edit-profile-form-container">
  <!-- Cabeçalho do formulário com gradiente -->
  <div class="edit-profile-header">
    <h2>Edit Your Profile</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit-profile-form" }) do |f| %>

    <!-- Full Name Field -->
    <div class="input-group">
      <%= f.text_field :full_name, placeholder: " ", class: "input-field" %>
      <label class="input-label">Full Name</label>
    </div>

    <!-- Email Field -->
    <div class="input-group">
      <%= f.email_field :email, placeholder: " ", class: "input-field" %>
      <label class="input-label">Email</label>
    </div>

    <!-- Password Field -->
    <div class="input-group">
      <%= f.password_field :password, placeholder: " ", class: "input-field" %>
      <label class="input-label">New Password</label>
    </div>

    <!-- Password Confirmation Field -->
    <div class="input-group">
      <%= f.password_field :password_confirmation, placeholder: " ", class: "input-field" %>
      <label class="input-label">Confirm New Password</label>
    </div>

    <!-- Current Password Field -->
    <div class="input-group">
      <%= f.password_field :current_password, placeholder: " ", class: "input-field" %>
      <label class="input-label">Current Password</label>
    </div>

    <!-- Avatar Upload Field -->
    <div class="input-group">
      <% if @user.avatar.attached? %>
        <%= image_tag url_for(@user.avatar), alt: "User Avatar", class: "avatar-preview" %>
      <% else %>
        <p>No avatar attached</p>
      <% end %>

      <div class="input-group">
        <%= f.file_field :avatar, direct_upload: true, class: "styled-input", id: 'file-upload' %>
      </div>
    </div>

    <div class="buttons">
      <!-- Submit Button -->
      <div class="action-group">
        <%= f.submit "Update", class: "btn" %>
      </div>

      <% end %>

      <!-- Logout Button -->
      <div class="action-group">
        <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" }, class: "btn btn-secondary" %>
      </div>

      <div class="action-group">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mt-3 btn-gradient" %>
      </div>
    </div>
</div>

<style>
  /* Container Principal */
.edit-profile-form-container {
  max-width: 1000px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 20px 25px hsla(0,0%,13%,0.5);
  overflow: hidden;
  margin: 50px auto;
  text-align: center;
}

/* Header com Gradiente */
.edit-profile-header {
  background: #212121e0;
  padding: 2rem 1rem;
  color: #d7d5dd;
}

.edit-profile-header h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

/* Campos do Formulário */
.input-group {
  position: relative;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: #4a5568;
  background-color: transparent;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #0ea5e9;
  box-shadow: 0 0 8px rgba(14, 165, 233, 0.2);
}

.input-field::placeholder {
  color: #cbd5e0;
}

/* Botão de anexar imagem */
  .styled-input::-webkit-file-upload-button {
    visibility: hidden; /* Esconde o botão de upload padrão */
  }

  .styled-input {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .styled-input:hover {
    background-color: #e1e1e1;
  }

/* Label com Efeito */
.input-label {
  position: absolute;
  top: -8px;
  left: 12px;
  font-size: 0.75rem;
  background-color: white;
  padding: 0 6px;
  color: hsla(0,0%,13%,0.9);
  transition: 0.3s;
}

.input-field:focus + .input-label {
  color: #0ea5e9;
}

.input-field:not(:placeholder-shown) + .input-label {
  color: hsla(0,0%,13%,0.9);
}

/* Botões de Ação */
.action-group {
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.btn {
  display: block;
  width: 200px;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 12px;
  background: gray;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  cursor: pointer;
  border: 2px solid hsl(var(--grooble));
}

.btn.btn-outline-secondary {
  text-decoration: none;
  color: white;
}

.btn:hover {
  transform: scale(1.03);
  border-color: gray;
  border: 2px solid;
  background-color: white;
  color: gray;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(14, 165, 233, 0.3);
}

/* Estilo de Alertas */
.alert {
  background-color: #f1d1d1;
  color: #0c601b;
  border: 1px solid #ebbebe;
  padding: 1rem;
  border-radius: 12px;
  text-align: left;
  gap: 10px;
  margin-left: 10px;
}

.btn-gradient {
  background: linear-gradient(139deg, #d40606, #e90e0e);
  color: white; /* Ajuste a cor do texto para ficar visível */
  border: none; /* Remova a borda, se necessário */
  /* box-shadow: 0 4px 10px rgb(233 14 14 / 50%); */
}

.btn-gradient:hover {
  background: white;
  color: red;

}


/* Responsividade */
@media (max-width: 768px) {
  .edit-profile-form-container {
    max-width: 100%;
    padding: 20px;
  }

  .input-field {
    padding: 0.75rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}
</style>
