<tr>
  <td><%= f.text_field :driver_id %></td>
  <td><%= f.text_field :penalty_reason %></td>
  <td><%= f.number_field :penalty_value %></td>
  <td><%= f.number_field :penalty_violation_in_lap %></td>
  <td><%= f.number_field :penalty_cleared_in_lap %></td>
  <td><%= f.number_field :penalty_points %></td>
  <td>
    <%= link_to 'Remover', '#', class: 'remove-penalty btn btn-danger' %>
  </td>
</tr>
