<h2>Editar Perfil</h2>

<%= simple_form_for @user, url: update_profile_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.input :full_name, label: "Nome completo" %>
  </div>
  <div>
    <%= f.input :email, label: "Email" %>
  </div>
  <div>
    <%= f.input :password, label: "Senha", hint: "Deixe em branco se não quiser alterar a senha" %>
  </div>
  <div>
    <%= f.input :password_confirmation, label: "Confirmação de senha" %>
  </div>
  <div>
    <%= f.input :avatar, as: :file, label: "Foto de perfil" %>
  </div>
  <% if @user.persisted? && @user.avatar.attached? %>
    <div>
      <%= image_tag current_user.avatar.variant(resize_to_limit: [150, 150]), class: "user-avatar1 menu-item" %>
    </div>
  <% end %>
  <div>
    <%= f.button :submit, "Salvar alterações" %>
  </div>
<% end %>
<!-- Botão de Logout -->
<div>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger', id: 'logout' %>
</div>
