<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
</head>
<body>

<div class="content">
  <!-- Aqui vai o conteúdo principal da página -->
</div>

<footer>
  <div class="footer text-center text-lg-start mt-4">
    <div class="row">
      <a href="https://discord.com/invite/DnevxdbDgy"><i class="fa fa-discord"></i></a>
      <a href="https://www.instagram.com/undercontrolracingbr/"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <%# <a href="#"><i class="fa fa-twitter"></i></a> %>
    </div>

    <div class="row">
      <ul>
        <li><a href="/campeonatos"><%= t('footer.campeonatos').html_safe %></a></li>
        <li><a href="/resultados"><%= t('footer.resultados').html_safe %></a></li>
        <li><a href="/pilotos"><%= t('footer.pilotos').html_safe %></a></li>
        <li><a href="/patrocinio"><%= t('footer.patrocinio').html_safe %></a></li>
        <%# <li><a href="#">Career</a></li> %>
      </ul>
    </div>

    <div class="row">
      Under Control Racing || Copyright © <%= Time.now.year %>  - All rights reserved || Developed By: Leal Coding
    </div>
  </div>
</footer>

<style>
html, body {
  height: 100%; /* Faz o HTML e o Body preencherem 100% da altura da janela */
  margin: 0;
}

body {
  flex-direction: column;
}

.content {
  flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

.fa-instagram:hover,
.fa-discord:hover,
.fa-youtube:hover {
  color: #f83534;
  transition: color 0.3s ease;
}

a:hover {
  color: #FF5733 !important;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footer {
  background: #000;
  padding: 5px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer .row {
  width: 100%;
  margin: 0% 0%;
  margin-bottom: 0;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: center;
    padding: 5%;
  }

  .footer .row ul {
    justify-content: space-around;
    display: flex;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}
</style>
