<<<<<<< HEAD
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <!-- Formulário de Registro -->
  <div class="signup">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <label for="chk" aria-hidden="true">Sign up</label>
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true, label_html: { style: "font-size: 20px;" }, input_html: { id: 'email', autocomplete: "email" } %>
      <%= f.input :password, label: "Password", required: true, label_html: { style: "font-size: 20px;" }, input_html: { id: 'password', autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirm Password", required: true, label_html: { style: "font-size: 20px;" }, input_html: { id: 'password_confirmation', autocomplete: "new-password" } %>

      <%= f.button :submit, class: "btn btn-secondary" %>
    <% end %>
=======
<%= render 'shared/navbar' %>

<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login</h1>
    </div>
    <div class="form-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, id: 'login_user_form' }) do |f| %> <!-- Mudança no id -->
        <div class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, autofocus: true, required: true, class: 'form-control', id: 'email_login' %> <!-- Mudança no id -->
        </div>
        <div class="form-group">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, autocomplete: "current-password", required: true, class: 'form-control', id: 'password_login' %> <!-- Mudança no id -->
        </div>
        <div class="form-group">
          <div class="form-remember" style="display: flex;">
            <%= f.check_box :remember_me, class: 'form-control' %>
            <%= f.label :remember_me, "Remember Me" %>
          </div>
            <a class="form-recovery" href="<%= new_password_path(resource_name) %>">Forgot Password?</a>
        </div>
        <div class="form-group">
          <%= f.submit "LOG IN", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
>>>>>>> c0bbc29 (menu mais)
  </div>

  <!-- Formulário de Login -->
  <div class="login">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label for="chk" aria-hidden="true">Login</label>
      <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
      <%= f.input :password, label: "Password", required: false, input_html: { autocomplete: "current-password" } %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<style>
  body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


#signup {
  font-size: 25px;
  margin-bottom: -50px;
}

<<<<<<< HEAD
label #email {
  font-size: 25px;
=======
.btn-primary {
  background-color: #f83534 !important;
  color: white !important;
}
/* Font Family */
body {
  font-family: "Roboto", sans-serif;
  background-color: #212121bd !important;
>>>>>>> c0bbc29 (menu mais)
}

#email,
#password,
#password_confirmation {
  margin-top: -50px;
   font-size: 10px;
}

.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

<<<<<<< HEAD
#chk:checked ~ .login{
	transform: translateY(-500px);
=======
/* Form Settings */
.form {
  z-index: 15;
  position: relative;
  background: var(--white);
  width: 600px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 200px auto 10px;
  overflow: hidden;
>>>>>>> c0bbc29 (menu mais)
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

</style>
