<%= render "shared/loading" %>

<%# <div> %>
  <%# <%= link_to 'Login with Steam', user_steam_omniauth_authorize_path %>
<%# </div> %>

<nav>
  <ul class="menu">
    <li class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'Logo', class: 'logo-image' %>
      <% end %>
    </li>

    <% if user_signed_in? %>
      <li>
        <% if current_user.admin? || current_user.ucrdriver? %>
          <%= link_to sidebar_path, class: "menu-item", id: "user" do %>
            <i class="menu-item fas fa-user"></i>
          <% end %>
        <% else %>
          <%= link_to campeonatos_path, class: "menu-item", id: "user" do %>
            <i class="menu-item fas fa-trophy"></i>
          <% end %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_user_session_path, class: "menu-item", id: "login" do %>
          Login
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>



<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Martel+Sans:200,400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Biryani:200,300,400,600,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo+2:400,100' rel='stylesheet' type='text/css'>

<!-- CSS (WebKit) -->
<div class="banner">
    <div class="wrapper">
      <div class="container">
        <h2>UNDER CONTROL <br> RACING</h2>
      </div>
    </div>

    <div>
      <blockquote>
        <p><%= t('index.subtitle') %></p>
      </blockquote>
    </div>
</div>


<div class="container-menu">
  <div id="campeonatos" class="section">
    <div class="content">
      <h1><a href="/campeonatos" id="link-campeonatos"><%= t('index.campeonatos') %></a></h1>

    </div>
    <div class="overlay"></div>
  </div>
  <div id="pilotos" class="section">
    <div class="content">
      <h1><a href="/pilotos" id="link-pilotos"><%= t('index.pilotos') %></a></h1>

    </div>
    <div class="overlay"></div>
  </div>
  <div id="resultados" class="section">
    <div class="content">
      <h1><a href="/resultados" id="link-resultados"><%= t('index.resultados') %></a></h1>

    </div>
    <div class="overlay"></div>
  </div>
  <div id="patrocinio" class="section">
    <div class="content">
      <h1><a href="/patrocinio" id="link-patrocinio"><%= t('index.patrocinio') %></a></h1>

    </div>
    <div class="overlay"></div>
  </div>
</div>

  <section class="slide-option">
    <div id="infinite" class="highway-slider">
      <div class="container highway-barrier">
        <ul class="highway-lane">
          <% @sponsors.each do |sponsor| %>
            <li class="highway-car">
              <img src="<%= sponsor.image_url %>" alt="Sponsor Logo" width="150px"; height="auto"/>
            </li>
          <% end %>

          <!-- Duplicação para garantir o efeito contínuo -->
          <% @sponsors.each do |sponsor| %>
            <li class="highway-car">
              <img src="<%= sponsor.image_url %>" alt="Sponsor Logo" width="150px"; height="auto"/>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>

<style>
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #283e51d4;
  font-family: "Varela Round", sans-serif;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1650px;
  padding: 55px;
}

.menu {
  display: contents;
  justify-content: center;
  align-items: center;
  /* max-width: 720px; */
  margin: 0;
  height: 10vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    /* margin-right: 30px; */
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.logo-image {
  height: 100px; /* Ajuste o tamanho conforme necessário */
  width: auto;
}

.menu li {
  /* margin-right: 20px; Espaçamento entre os itens do menu */
}

.menu li.logo {
  /* margin-right: auto; Deixa a logo à esquerda e os outros itens à direita */
}

@media screen and (max-width: 1000px) {
  nav {
    gap: 0;
  }

  .fas {
    font-size: 35px;
  }

  .loading-text {
    /* margin-left: -40px; */
  }
}

@media screen and (min-width: 2560px) {
  nav {
    gap: 1750px
  }
}

</style>

<style>
.banner {
  display: flex;
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
}

* {
  box-sizing: border-box
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}


.wrapper {
  line-height: 1;
  height: auto;
  padding: 200px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h2 {
  font-family: "Exo", sans-serif;
  font-size: 15vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, #211e1e 19%, /* Preto */ transparent 19%, transparent 20%, #2c2c2c 20%, /* Grafite escuro */ #2c2c2c 39%, transparent 39%, transparent 40%, #4a4a4a 40%, /* Grafite claro */ #4a4a4a 59%, transparent 59%, transparent 60%, #fa6862 60%, /* Vermelho */ hsla(11, 80%, 38%, 1) 79%, transparent 79%, transparent 80%, hsla(11, 80%, 38%, 1) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: moveGradient 10s linear infinite; /* Animação continua em um sentido */
}



.container {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  /* background: radial-gradient(circle at 1.4% 1.4%, hsla(0,0%,13%,1) .8%, transparent .8%),
  radial-gradient(circle at 5.5% 3%, hsla(11, 80%, 38%, 1) .45%, transparent .45%),
  radial-gradient(circle at 2.5% 3.5%, hsl(0deg 0.83% 27.48%) .5%, transparent .5%),
  radial-gradient(circle at 4.5% 1.2%, var(--color-4) .25%, transparent .25%),
  radial-gradient(circle at 98% 98%, hsl(0deg 0% 17.47%) .8%, transparent .8%),
  radial-gradient(circle at 95% 95%, hsla(0, 0%, 13%, 1) .45%, transparent .45%),
  radial-gradient(circle at 94.5% 97.5%, hsla(11, 80%, 31%, 1) .5%, transparent .5%),
  radial-gradient(circle at 98.5% 95.5%, var(--color-4) .25%, transparent .25%); */
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 4.5rem;
  }
}
 </style>

 <style>
  /* TEXTO DIREITA BANNER */
  @keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

blockquote {
  width: auto;
  border-left: 5px solid;
  margin-left: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.8rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(35deg, hsl(0deg 100% 65%), hsl(207.69deg 100% 65%));
  background-size: 200% 200%; /* Permite o movimento do gradiente */
  animation: moveGradient 5s ease infinite; /* Animação do gradiente */
}


  p {
    margin: 0;
  }

  :root {
  --color-primary: hsl(310, 100%, 65%);
  --color-secondary: hsl(160, 100%, 65%);
  --background: hsl(230, 30%, 15%);
  --text: hsl(310, 100%, 95%);
}

::selection {
  background-color: var(--color-primary);
  color: var(--background);
  -webkit-text-fill-color: var(--background);
}

* {
  box-sizing: border-box;
}
</style>

<style>
 /* MENU HOME */
* {
  box-sizing: border-box;
}

.container-menu {
  display: flex;
  height: 100vh;
}

#link-campeonatos, #link-pilotos, #link-resultados, #link-patrocinio {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f83534;
}

.content h1 {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 3;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
  z-index: 1;
}

.section .content {
  z-index: 3;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: hsl(240deg 7% 62% / 0%); /* Um leve tom branco para iluminar */
}


#campeonatos {
  background-image: url(https://simracingsetup.com/wp-content/uploads/2023/03/ACC-Bentley-Continental-GT3.webp);
}

#pilotos {
  background-image: url(https://traxion.gg/wp-content/uploads/2023/03/Ferrari.jpg);
}

#resultados {
  background-image: url(https://www.overtake.gg/news/opinion-why-have-accs-gt4-cars-struggled-compared-to-the-gt3s.64/cover-image);
}

#patrocinio {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5e67c0b15cc05f67605d7d5c/0ccc5dde-dfa0-4517-9d0f-c32dd1072553/porschesport.jpeg);
}

@media screen and (max-width: 932px) {
  .banner {
    display: block;
    width: auto;
    height: auto;
  }

  .texto-banner {
    font-size: 50px;
  }

  blockquote {
    width: auto;
    height: auto;
    margin: 0;
  }

  section.slide-option {
    margin: 0 -20px;
  }

  .wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 2560px) {
  blockquote {
    width: 65%;
  }
}
</style>


<style>
/* SLIDE SHOW */
section {
	display:flex;
	flex-flow:column;
	align-items:center;
	div.container {
		transition:all .3s ease;
		h1 { margin:15px 0 0 0; }
		h3 { margin:0 0 25px 0; }
	}
	@media (max-width:992px) { padding:0 20px 0 20px; }
}
section.slide-option {
	/* margin:0 0 50px 0; */
	.no-marg { margin:0 0 0 0; }
}

div.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;
	height:150px;
	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-car {
			flex:1;
			display:flex;
			justify-content:center;
			align-items:center;
			background:black;
			color:#343434;
		}
	}
}

@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}
#stffull div.highway-barrier {
	ul.highway-lane {
		width:500%;
		li.highway-car {
			animation:translatestf 30s linear infinite;
			h4 { font-size:28px; }
		}
	}
}

@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}
#infinite div.highway-barrier {
	background:black;
	box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
	&::before,
	&::after {
		content: " ";
		position:absolute;
		z-index:9;
		width:180px;
		height:100%;
	}
	&::before {
		top:0;left:0;
		background: linear-gradient(to right, hsl(0deg 0% 0%) 0%, rgb(0 0 0 / 0%) 100%)
	}
	&::after {
		top:0;right:0;
		background: linear-gradient(to left, rgb(2 2 2) 0%, rgb(255 255 255 / 0%) 100%)
	}
	ul.highway-lane {
		width:calc(180px * 24);
		li.highway-car {
			width:180px;
			animation:translateinfinite 25s linear infinite;
			span.fab {
				font-size:65px;
			}
		}
	}
}

#red { background: #cb5454; }
#orange { background: #cb8054; }
#yellow { background: #cbba54; }
#green { background: #69b46e; }
#blue { background: #6091b0; }

.youtube {
  margin-top: 64px;
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: black;
  overflow-x: hidden;
  color: #ababab; }

html {
  height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.highlight {
  color: #f83534;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  h1 a:hover, h1 a:focus {
    color: white !important;
    text-decoration: none;
    outline: 0 none; }

/* h1, h2, h3,
h4, h5, h6 {
  color: #1e2530;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.3; } */

p {
  margin-bottom: 20px; }
  p:last-child {
    margin-bottom: 0; }

/*
 * Selection color
 */
::-moz-selection {
  background-color: #FA6862;
  color: #fff; }

::selection {
  background-color: #FA6862;
  color: #fff; }

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit; }

.form-control:-moz-placeholder,
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: inherit; }

.form-control::-moz-placeholder,
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: inherit; }

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  opacity: 1;
  color: inherit; }

button, input, select,
textarea, label {
  font-weight: 400; }

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn:hover, .btn:focus, .btn:active:focus {
    outline: 0 none; }

.btn-primary {
  background-color: #FA6862;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 48px;
  line-height: 50px;
  padding: 0 42px;
  text-transform: uppercase; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #f9423a; }

.btn-border {
  border: 1px solid #d7d8db;
  display: inline-block;
  padding: 7px; }

/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.pt-table {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 4px);
  height: -moz-calc(100vh - 4px);
  height: calc(100vh - 4px); }

.pt-tablecell {
  display: table-cell;
  vertical-align: middle; }

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; } */

.relative {
  position: relative; }

.primary,
.link:hover {
  color: #FA6862; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.nicescroll-cursors {
  background: #FA6862 !important; }

.preloader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .preloader.active.hidden {
    display: none; }

.loading-mask {
  background-color: #FA6862;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s; }
  .loading-mask:nth-child(2) {
    left: 20%;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .loading-mask:nth-child(3) {
    left: 40%;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .loading-mask:nth-child(4) {
    left: 60%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .loading-mask:nth-child(5) {
    left: 80%;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.preloader.active.done {
  z-index: 0; }

.preloader.active .loading-mask {
  width: 0; }

/*------------------------------------------------
	Start Styling
-------------------------------------------------*/


@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}
</style>

<script>
 document.addEventListener("DOMContentLoaded", function() {
  var text = "Racing"; // O texto a ser exibido
  var targetElement = document.getElementById("racingText"); // Span onde o texto será inserido

  // Função para verificar o tamanho da tela
  function isMobile() {
    return window.innerWidth <= 767; // Verifica se a largura da tela é menor ou igual a 767px
  }

  // Função para escrever letra por letra
  function typeWriter() {
    var index = 0; // Índice inicial
    var speed = 150; // Velocidade da animação (em milissegundos)

    function writeLetter() {
      if (index < text.length) {
        targetElement.innerHTML += text.charAt(index); // Adiciona a letra ao span
        index++;
        setTimeout(writeLetter, speed); // Chama novamente após o tempo definido
      } else {
        // Quando o texto estiver completo, reinicia após 2 segundos
        setTimeout(function() {
          targetElement.innerHTML = ""; // Limpa o texto
          index = 0; // Reinicia o índice
          writeLetter(); // Reinicia a animação
        }, 1000); // Espera 2 segundos antes de reiniciar
      }
    }

    writeLetter(); // Inicia a animação
  }

  // Verifica se é um dispositivo móvel
  if (isMobile()) {
    // Em dispositivos móveis, apenas exibe o texto diretamente
    targetElement.innerHTML = text;
  } else {
    // Em telas maiores, aplica a animação
    typeWriter();
  }
});
</script>

<!-- Modal simples de instalação -->
<div id="install-prompt" class="modal hidden">
  <div class="modal-content">
    <p><%= t('index.instale').html_safe %></p>
    <div class="btn-group">
      <button id="accept-install" class="install-btn"><%= t('index.instalar').html_safe %></button>
      <button id="deny-install" class="cancel-btn"><%= t('index.nao').html_safe %></button>
    </div>
  </div>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  /* Estilos do Modal */
  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .modal.active {
    opacity: 1;
    visibility: visible;
  }

  .modal-content {
    background-color: #000000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    max-width: 350px;
    width: 100%;
    color: white;
  }

  .modal-content p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  /* Botões alinhados lado a lado */
  .btn-group {
    display: flex;
    justify-content: space-between;
  }

  .install-btn, .cancel-btn {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%; /* Largura ajustada para caberem lado a lado */
  }

  .install-btn {
    background-color: hsl(241.44deg 67.4% 42.89%);
    color: hsl(0deg 0% 100% / 90%);
  }

  .install-btn:hover {
    background-color: hsl(241.44deg 78.79% 56.14%);
  }


  .cancel-btn {
    background-color: #f83534;
    color: #ffffff;
  }

  .cancel-btn:hover {
    background-color: #f74040;
  }

  /* Responsivo */
  @media (max-width: 600px) {
    .modal-content {
      width: 90%;
    }
  }

  @media screen and (max-width: 1000px) {
    .container-menu {
      display: grid;
    }

    .footer {
      display: grid;
    }
  }

  @media screen and (min-width: 2560px) {
  .row {
    width: 50% !important;
  }
}

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const installPrompt = document.getElementById('install-prompt');

    // Verificar se é iOS
    const isIos = /iphone|ipad|ipod/.test(navigator.userAgent.toLowerCase());
    const isInStandaloneMode = ('standalone' in window.navigator) && (window.navigator.standalone);

    if (isIos && !isInStandaloneMode) {
      // Exibir instruções para adicionar à tela de início no iOS
      installPrompt.classList.add('active');
      installPrompt.innerHTML = `
        <div class="modal-content">
          <p>Para instalar o app, toque no ícone de compartilhamento <i class="fa-solid fa-arrow-up-from-bracket"></i> e selecione "Adicionar à Tela de Início".</p>
          <button id="deny-install" class="cancel-btn">Fechar</button>
        </div>
      `;

      const denyButton = document.getElementById('deny-install');
      denyButton.addEventListener('click', () => {
        installPrompt.classList.remove('active');
      });
    } else {
      // Manter o comportamento normal para Android
      window.addEventListener('beforeinstallprompt', (event) => {
        event.preventDefault();
        deferredPrompt = event;
        installPrompt.classList.add('active');

        const acceptButton = document.getElementById('accept-install');
        acceptButton.addEventListener('click', () => {
          installPrompt.classList.remove('active');
          deferredPrompt.prompt();

          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('Usuário aceitou a instalação da PWA');
            } else {
              console.log('Usuário rejeitou a instalação da PWA');
            }
            deferredPrompt = null;
          });
        });

        const denyButton = document.getElementById('deny-install');
        denyButton.addEventListener('click', () => {
          installPrompt.classList.remove('active');
        });
      });
    }
  });

</script>

<script>
  let deferredPrompt;

  document.addEventListener('DOMContentLoaded', () => {
    const installPrompt = document.getElementById('install-prompt');

    window.addEventListener('beforeinstallprompt', (event) => {
      event.preventDefault();
      deferredPrompt = event;
      installPrompt.classList.add('active');

      const acceptButton = document.getElementById('accept-install');
      acceptButton.addEventListener('click', () => {
        installPrompt.classList.remove('active');
        deferredPrompt.prompt();

        deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('Usuário aceitou a instalação da PWA');
          } else {
            console.log('Usuário rejeitou a instalação da PWA');
          }
          deferredPrompt = null;
        });
      });

      const denyButton = document.getElementById('deny-install');
      denyButton.addEventListener('click', () => {
        installPrompt.classList.remove('active');
      });
    });
  });
</script>
