<%= render 'shared/navbar' %>


	<div class="wrapper">
	 <h1 class="mega montserrat bold">
		<%= t('patrocinio.title1').html_safe %> <span class="color-emphasis-1"><%= t('patrocinio.title2').html_safe %></span><br>
		 <%= t('patrocinio.title3').html_safe %> <span class="color-emphasis-1"><%= t('patrocinio.title4').html_safe %></span>
		</h1>
	 </div>


<div class="planos">
  <section id="bronze" class="card">
    <header>
      <h2 id="bronze-title" class="title"><%= t('patrocinio.plano1').html_safe %></h2>
      <h1 class="price"><%= t('patrocinio.preco1').html_safe %></h1>
    </header>
    <%# <p id="slots" class="desc">10 slots</p> %>
    <p class="desc"><%= t('patrocinio.desc1').html_safe %></p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item1_1').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item1_2').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item1_3').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item1_4').html_safe %></p>
      </li>
      <%# <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li> %>
    </ul>
    <a href="https://wa.me/5191920606" target="_blank">
      <button class="action" type="button">
        <i class="fa-solid fa-flag-checkered"></i> <%= t('patrocinio.solicite').html_safe %>
      </button>
    </a>
  </section>

  <section id="prata" class="card">
    <header>
      <h2 id="prata-title" class="title"><%= t('patrocinio.plano2').html_safe %></h2>
      <h1 class="price"><%= t('patrocinio.preco2').html_safe %></h1>
    </header>
    <%# <p id="slots" class="desc">4 slots</p> %>
    <p class="desc"><%= t('patrocinio.desc2').html_safe %></p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item2_1').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item2_2').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item2_3').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item2_4').html_safe %></p>
      </li>
      <%# <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li> %>
    </ul>
    <a href="https://wa.me/5191920606" target="_blank">
      <button class="action" type="button">
        <i class="fa-solid fa-flag-checkered"></i> <%= t('patrocinio.solicite').html_safe %>
      </button>
    </a>
  </section>

  <section id="gold" class="card">
    <header>
      <h2 id="gold-title" class="title"><%= t('patrocinio.plano3').html_safe %></h2>
      <h1 class="price"><%= t('patrocinio.preco3').html_safe %></h1>
    </header>
    <%# <p id="slots" class="desc">2 slots</p> %>
    <p class="desc"><%= t('patrocinio.desc3').html_safe %></p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item3_1').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item3_2').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item3_3').html_safe %></p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p><%= t('patrocinio.item3_4').html_safe %></p>
      </li>
      <%# <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li> %>
    </ul>
    <a href="https://wa.me/5191920606" target="_blank">
      <button class="action" type="button">
        <i class="fa-solid fa-flag-checkered"></i> <%= t('patrocinio.solicite').html_safe %>
      </button>
    </a>
  </section>

  <%# <section class="card">
    <header>
      <h2 class="title">Diamond</h2>
      <h1 class="price">R$ 200,00</h1>
    </header>
    <p id="slots" class="desc">1 slots</p>
    <p class="desc">* O período de contrato de patrocínio tem vigência de 6 meses. Como estamos em lançamento, serão 7 meses para os primeiros patrocinadores, com 20% de desconto para as renovações.</p>
    <ul class="lists">
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Exposição da marca nos carros da equipe</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Promoção em nossas redes sociais</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Presença no nosso site</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Menção nas transmissões ao vivo dos pilotos</p>
      </li>
      <li class="list">
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            fill-rule="evenodd"
          ></path>
        </svg>
        <p>Anúncio nos nossos cards</p>
      </li>
    </ul>
    <button class="action" type="button">
      <i class="fa-solid fa-flag-checkered"></i> Solicite
    </button>
  </section> %>
</div>

  <section class="slide-option">
    <div id="infinite" class="highway-slider">
      <div class="container highway-barrier">
        <ul class="highway-lane">
          <% @sponsors.each do |sponsor| %>
            <li class="highway-car">
              <img src="<%= sponsor.image_url %>" alt="Sponsor Logo" width="150px"; height="auto"/>
            </li>
          <% end %>

          <!-- Duplicação para garantir o efeito contínuo -->
          <% @sponsors.each do |sponsor| %>
            <li class="highway-car">
              <img src="<%= sponsor.image_url %>" alt="Sponsor Logo" width="150px"; height="auto"/>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

<%= render 'shared/footer' %>

<style>
section {
	display:flex;
	flex-flow:column;
	align-items:center;
	div.container {
		transition:all .3s ease;
		h1 { margin:15px 0 0 0; }
		h3 { margin:0 0 25px 0; }
	}
	@media (max-width:992px) { padding:0 20px 0 20px; }
}
section.slide-option {
	/* margin:0 0 50px 0; */
	.no-marg { margin:0 0 0 0; }
}

.slide-option {
  background-color: black;
}

div.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;
	height:150px;
	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-car {
			flex:1;
			display:flex;
			justify-content:center;
			align-items:center;
			background:black;
			color:#343434;
		}
	}
}

@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}
#stffull div.highway-barrier {
	ul.highway-lane {
		width:500%;
		li.highway-car {
			animation:translatestf 30s linear infinite;
			h4 { font-size:28px; }
		}
	}
}

@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}
#infinite div.highway-barrier {
	background:black;
	box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
	&::before,
	&::after {
		content: " ";
		position:absolute;
		z-index:9;
		width:180px;
		height:100%;
	}
	&::before {
		top:0;left:0;
		background: linear-gradient(to right, hsl(0deg 0% 0%) 0%, rgb(0 0 0 / 0%) 100%)
	}
	&::after {
		top:0;right:0;
		background: linear-gradient(to left, rgb(2 2 2) 0%, rgb(255 255 255 / 0%) 100%)
	}
	ul.highway-lane {
		width:calc(180px * 24);
		li.highway-car {
			width:180px;
			animation:translateinfinite 25s linear infinite;
			span.fab {
				font-size:65px;
			}
		}
	}
}

#red { background: #cb5454; }
#orange { background: #cb8054; }
#yellow { background: #cbba54; }
#green { background: #69b46e; }
#blue { background: #6091b0; }

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
}
p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1
}
.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}

.alpha {
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #f83534}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;

}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */

.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:15%;
	text-align: center;
}


</style>

<style>
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garantir que o body ocupe pelo menos 100% da altura */
  overflow-x: hidden; /* Isso é para evitar rolagem horizontal, mas não afeta a vertical */
  overflow-y: auto;
}

a, button {
  text-decoration: none;
  color: white;
}

button:hover a {
  color: red;
}

button {
  background-color: #333; /* apenas para visualização */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

body {
  background: linear-gradient(to bottom, #29323c, #485563ba);
}


.action i {
  margin-right: 8px; /* Ajusta o espaçamento entre o ícone e o texto */
}

:root {
  --primary-color: #0ea5e9;
  --secondary-color: #f8fafc;
  --accent-color: #020617;
}

.list p {
  margin-top: 0;
  font-size: 15px;
}

.planos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  flex-wrap: wrap;
  width: 100%; /* Certifica-se de que ocupa toda a largura da página */
  padding-bottom: 100px; /* Adiciona um espaçamento inferior para testar a rolagem */
}

.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 375px;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--accent-color);
  padding: 1.5rem;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
  transition: box-shadow 0.3s ease-in-out; /* Adiciona uma transição suave */
  border: 2px solid transparent; /* Borda invisível por padrão */
}

/* .card:hover {
  border: 2px solid red;
} */

#bronze:hover {
  box-shadow: 0 12px 24px rgba(205, 127, 50, 0.8);
}

#bronze-title {
  color: rgba(205, 127, 50, 0.8);
}

#prata:hover {
  box-shadow: 0 12px 24px rgba(192, 192, 192, 0.8);
}

#prata-title {
  color: rgba(192, 192, 192, 0.8);
}

#gold:hover {
  box-shadow: 0 8px 16px rgba(255, 215, 0, 0.6);
}

#gold-title {
  color: rgba(255, 215, 0, 0.6);
}


/* Testar rolagem no container principal */
#container {
  min-height: 100vh; /* Garante que o conteúdo principal tem pelo menos a altura da tela */
}

header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgba(248, 250, 252, 0.9);
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 0;
  color: var(--secondary-color);
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  word-wrap: break-word;
  color: rgba(248, 250, 252, 0.9);
  font-size: 10px;
}

#slots {
  font-size: 25px;
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(248, 250, 252, 0.9);
  margin-top: 40px;
}

.lists .list {
  margin-bottom: 1.5rem;
  display: flex;
  margin-left: -0.5rem;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: #f83534;
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #f83534;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: larger;
  width: 100%;
}

.action:hover {
  background-color: white;
  color: #f83534;
}

/* Reduzir proporcionalmente em telas menores */
@media (max-width: 768px) {
  .planos {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 300px; /* Reduz a largura do card */
    padding: 1rem; /* Diminui o padding interno do card */
  }

  .title {
    font-size: 1rem; /* Reduz o tamanho do título */
  }

  .price {
    font-size: 3rem; /* Reduz o tamanho da fonte do preço */
  }

  .desc, .list p {
    font-size: 1rem; /* Diminui a descrição e a lista */
  }

  #slots {
    font-size: 20px; /* Reduz o tamanho dos slots */
  }

  .action {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; /* Ajusta o tamanho do botão */
  }

  .lists .list svg {
    height: 1.2rem; /* Reduz o ícone da lista */
    width: 1.2rem;
  }
}

/* Ajuste adicional para telas ainda menores */
@media (max-width: 480px) {
  .card {
    width: 250px; /* Reduz mais a largura do card */
    padding: 0.75rem; /* Diminui ainda mais o padding */
  }

  .title {
    font-size: 0.9rem;
  }

  .price {
    font-size: 2.5rem;
  }

  .desc, .list p {
    font-size: 0.9rem;
  }

  #slots {
    font-size: 18px;
  }

  .action {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .lists .list svg {
    height: 1rem;
    width: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .card {
      width: 300px;
    }

  .mega {
    margin-top: 300px;
  }

  .planos {
    margin: 0;
  }
}

</style>
