<%= render 'shared/navbar' %>

<div class="container">
  <% @pilots.each do |pilot| %>
    <div class="card" style="background-image: url('<%= pilot.image_url %>');">
      <div class="border">
        <h2><%= pilot.name %></h2>
        <div class="<%= 'categoria ' + (pilot&.categoria&.downcase || '') %>">
          <%= pilot&.categoria %>
        </div>
        <div class="icons">
          <a href="<%= pilot.instagram %>" target="_blank" title="Instagram">
            <i class="fab fa-instagram" id="social" aria-hidden="true"></i>
          </a>
          <a href="<%= pilot.twitch %>" target="_blank" title="Twitch">
            <i class="fab fa-twitch" id="social" aria-hidden="true"></i>
          </a>
          <a href="<%= pilot.youtube %>" target="_blank" title="YouTube">
            <i class="fab fa-youtube" id="social" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
body {
  background: linear-gradient(to bottom, #485563, #29323c);
}

.categoria.pro {
  width: min-content;
  background-color: white;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.categoria.silver {
  width: min-content;
  background-color: red;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.categoria.am {
  width: min-content;
  background-color: blue;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center center;
}

.card:hover {
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: left center;
}

.card:hover h2 {
  opacity: 1;
}

.card:hover .fa {
  opacity: 1;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

#social {
  opacity: 0;
  transition: opacity 1s;
  color: white;
  font-size: 20px;
}

#social:hover {
  opacity: 0;
  transition: opacity 1s;
  color: red;
}

.card:hover #social {
  opacity: 1;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Estilos dinâmicos com nth-child */
.card:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.card:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
