<%= render 'shared/navbar' %>

<div class="wrapper">
  <h1 class="mega montserrat bold">
  Nossos <span class="color-emphasis-1">pilotos</span><br>
    por <span class="color-emphasis-1">categoria.</span>
  </h1>
</div>

<div class="container">
  <div class="name-category" id="name-pro">
    <h3>CATEGORIA - PRO</h3>
  </div>
  <div class="pro-category">
    <% @pilots.select { |pilot| pilot.categoria == 'PRO' }.each do |pilot| %>
      <div class="card" style="background-image: url('<%= pilot.image_url %>');">
        <div class="border">
          <h2><%= pilot.name %></h2>
          <div class="<%= 'categoria ' + (pilot&.categoria&.downcase || '') %>" id="category">
            <%= pilot&.categoria %>
          </div>
          <div class="icons">
            <a href="<%= pilot.instagram %>" target="_blank" title="Instagram">
              <i class="fab fa-instagram" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.twitch %>" target="_blank" title="Twitch">
              <i class="fab fa-twitch" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.youtube %>" target="_blank" title="YouTube">
              <i class="fab fa-youtube" id="social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="name-category" id="name-silver">
    <h3>CATEGORIA - SILVER</h3>
  </div>
  <div class="silver-category">
    <% @pilots.select { |pilot| pilot.categoria == 'SILVER' }.each do |pilot| %>
      <div class="card" style="background-image: url('<%= pilot.image_url %>');">
        <div class="border">
          <h2><%= pilot.name %></h2>
          <div class="<%= 'categoria ' + (pilot&.categoria&.downcase || '') %>" id="category">
            <%= pilot&.categoria %>
          </div>
          <div class="icons">
            <a href="<%= pilot.instagram %>" target="_blank" title="Instagram">
              <i class="fab fa-instagram" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.twitch %>" target="_blank" title="Twitch">
              <i class="fab fa-twitch" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.youtube %>" target="_blank" title="YouTube">
              <i class="fab fa-youtube" id="social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="name-category" id="name-am">
    <h3>CATEGORIA - AM</h3>
  </div>
  <div class="am-category">
    <% @pilots.select { |pilot| pilot.categoria == 'AM' }.each do |pilot| %>
      <div class="card" style="background-image: url('<%= pilot.image_url %>');">
        <div class="border">
          <h2><%= pilot.name %></h2>
          <div class="<%= 'categoria ' + (pilot&.categoria&.downcase || '') %>" id="category">
            <%= pilot&.categoria %>
          </div>
          <div class="icons">
            <a href="<%= pilot.instagram %>" target="_blank" title="Instagram">
              <i class="fab fa-instagram" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.twitch %>" target="_blank" title="Twitch">
              <i class="fab fa-twitch" id="social" aria-hidden="true"></i>
            </a>
            <a href="<%= pilot.youtube %>" target="_blank" title="YouTube">
              <i class="fab fa-youtube" id="social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>

<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
}
p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1
}
.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}

.alpha {
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #FF4056}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;
	
}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */

.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:15%;
	text-align: center;
}


</style>

<style>
body {
  background: linear-gradient(to bottom, #485563, #29323c);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the body take up at least the full height of the viewport */
  margin: 0;
  overflow-y: auto; /* Add this to allow scrolling */
}

.name-category {
  width: 60%;
  height: auto;
}

.name-category h3 {
  font-size: 15px;
}

#name-pro {
  background-color: white;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: 20px 0 14px 0px;
}

#name-pro h3 {
  color: black;
}

#name-silver {
  background-color: gray;
  color: white;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: 20px 0 14px 0px;
}

#name-am {
  background-color: red;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: 20px 0 14px 0px;
}

.pro-category, .silver-category, .am-category {
  width: 100%;
  height: auto;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.categoria.pro {
  width: min-content;
  background-color: white;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.categoria.silver {
  width: min-content;
  background-color: hsla(240,7%,62%,1);
  color: white;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.categoria.am {
  width: min-content;
  background-color: #ff0000;
  font-weight: 600;
  padding: 5px 14px;
  border-radius: 7px;
  margin: -15px 0 0 20px;
}

.container {
  flex: 1; /* Make the container take up the remaining space */
  display: flex;
  align-items: center;
  margin: 100px 0 20px 50px;
  flex-wrap: wrap;
}

footer {
  background: #000;
  padding: 0px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  width: 100%;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}

.card:hover {
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: left center;
}

.card:hover h2 {
  opacity: 1;
}

.card:hover .fa {
  opacity: 1;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

#category {
  opacity: 0;
  transition: opacity 1s;
}

#category:hover {
  opacity: 0;
  transition: opacity 1s;
}

.card:hover #category {
  opacity: 1;
}

#social {
  opacity: 0;
  transition: opacity 1s;
  color: white;
  font-size: 20px;
}

#social:hover {
  opacity: 0;
  transition: opacity 1s;
  color: red;
}

.card:hover #social {
  opacity: 1;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Estilos dinâmicos com nth-child */
.card:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.card:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
