<h1>Resultados dos Arquivos JSON</h1>

<% if @error_message.present? %>
  <p><strong><%= @error_message %></strong></p>
<% else %>
  <% if @all_leaderboards.present? %>
    <% @all_leaderboards.each do |leaderboard_entry| %>
      <h2>Arquivo: <%= leaderboard_entry[:file] %></h2>
      <h3>Leader Board</h3>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>ShortName</th>
            <th>CarId</th>
            <th>LapTime</th>
          </tr>
        </thead>
        <tbody>
          <% leaderboard_entry[:data].each do |leader| %>
            <tr>
              <td><%= leader["currentDriver"]["firstName"] %> <%= leader["currentDriver"]["lastName"] %></td>
              <td><%= leader["currentDriver"]["shortName"] %></td>
              <td><%= leader["car"]["carId"] %></td>
              <td><%= leader["timing"]["bestLap"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>Nenhum dado de 'leaderBoardLines' encontrado em nenhum dos arquivos JSON.</p>
  <% end %>
<% end %>
