<section class="cards">
  <% @tracks.each_with_index do |track_name, index| %>
    <% best_lap_info = @best_laps_by_track.find { |lap| lap.track_name == track_name } %>
    <article class="card card--<%= index + 1 %>">
      <div class="card__info-hover">
        <div class="card__clock-info">
          <svg class="card__clock" viewBox="0 0 24 24">
            <path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
          </svg>
          <% if best_lap_info %>
            <span class="card__time"><%= format_laptime(best_lap_info.best_lap.to_i) %></span>
          <% else %>
            <span class="card__time">N/A</span> <!-- Caso não haja uma melhor volta -->
          <% end %>
        </div>
      </div>
      <div class="card__img"></div>
      <%= link_to track_sessions_drivers_path(track_name: track_name), class: 'card_link' do %>
        <div class="card__img--hover"></div>
      <% end %>
      <div class="card__info">
        <span class="card__category"> Pista </span>
        <h3 class="card__title"><%= format_track_name(track_name) %></h3>
        <% if best_lap_info %>
          <span class="card__by">Melhor volta por <%= best_lap_info.driver_first_name %> <%= best_lap_info.driver_last_name %></span>
        <% else %>
          <span class="card__by">Sem dados de volta</span>
        <% end %>
      </div>
    </article>
  <% end %>
</section>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Slab', serif;
  /* margin: 20px; */
  width: auto;
  height: auto;
  padding: 0;
}

body {
  background-color: #D2DBDD;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  /* display: flex;
  display: -webkit-flex; */
  justify-content: center;
  -webkit-justify-content: center;
  /* max-width: 820px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url('https://simracingcockpit.gg/wp-content/uploads/2024/04/4-14-scaled1.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2023/12/blog-image-brandshatchtgt2-1024x576.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2022/06/banner-image-usdlc-scaled.jpg');
}

.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('https://emap-romulus-prod.s3.eu-west-1.amazonaws.com/wp-content/uploads/sites/9/2023/08/Aggregate-Industries-Donington.jpg');
}

.card--5 .card__img, .card--5 .card__img--hover {
  background-image: url('https://www.overtake.gg/attachments/assetto-corsa-competizione-hungaroring-jpg.281317/');
}

.card--6 .card__img, .card--6 .card__img--hover {
  background-image: url('https://pits.thesimgrid.com/wp-content/uploads/2022/03/Imola-track-pic-1024x576.png');
}

.card--7 .card__img, .card--7 .card__img--hover {
  background-image: url('https://s1.cdn.autoevolution.com/images/news/acc-takes-racing-to-the-home-of-the-brave-with-three-new-legendary-tracks-192427_1.jpg');
}

.card--8 .card__img, .card--8 .card__img--hover {
  background-image: url('https://www.overtake.gg/attachments/assetto-corsa-competizione-kyalami-preview-1-jpg.335951/');
}

.card--9 .card__img, .card--9 .card__img--hover {
  background-image: url('https://www.studio-397.com/wp-content/uploads/2022/04/rF2_Laguna_Seca_header.jpg');
}

.card--10 .card__img, .card--10 .card__img--hover {
  background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/299695396.jpg?k=57cce17dbaac398eadef38e5e3a7826a2960b98388e985e2160bdc593fdb23f2&o=&hp=1');
}

.card--11 .card__img, .card--11 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2023/07/blog-image-monzat12-1024x576.jpg');
}

.card--12 .card__img, .card--12 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2022/04/banner-image-fastestcar18-scaled.jpg');
}

.card--13 .card__img, .card--13 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2023/12/blog-image-nurbtgt1314-1024x576.jpg');
}

.card--14 .card__img, .card--14 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2023/12/blog-image-oultontgt1-1024x576.jpg');
}

.card--15 .card__img, .card--15 .card__img--hover {
  background-image: url('https://live.staticflickr.com/65535/49376858237_8159ef239f_b.jpg');
}

.card--16 .card__img, .card--16 .card__img--hover {
  background-image: url('https://simracingsetup.com/wp-content/uploads/2024/01/Red-Bull-Ring-ACC.webp');
}

.card--17 .card__img, .card--17 .card__img--hover {
  background-image: url('https://coachdaveacademy.com/wp-content/uploads/2023/07/banner-image-silverstonetg-1.jpg');
}

.card--18 .card__img, .card--18 .card__img--hover {
  background-image: url('https://www.overtake.gg/attachments/snetterton_2011_10-jpg.105177/');
}

.card--19 .card__img, .card--19 .card__img--hover {
  background-image: url('https://bertalankeszler.com/wp-content/uploads/2020/02/Blog-Post-ACC-Spa-Kurzrennen-2.png');
}

.card--20 .card__img, .card--20 .card__img--hover {
  background-image: url('https://simracingsetup.com/wp-content/uploads/2024/08/Suzuka-Track-Map-First-Corner.webp');
}

.card--21 .card__img, .card--21 .card__img--hover {
  background-image: url('https://live.staticflickr.com/65535/52810459139_fa4fb09e73_k.jpg');
}

.card--22 .card__img, .card--22 .card__img--hover {
  background-image: url('https://www.overtake.gg/attachments/screenshot_rss_gt_shadow_v8_lilski_watkins_glen_14-7-118-1-0-7-jpg.259822/');
}

.card--23 .card__img, .card--23 .card__img--hover {
  background-image: url('https://f1grandprix.motorionline.com/wp-content/uploads/2015/11/zandvoort_sogna_ritorno_f1_2015.jpg');
}

.card--24 .card__img, .card--24 .card__img--hover {
  background-image: url('https://www.overtake.gg/attachments/zolder-jpg.300610/');
}


.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: hsla(242,88.4%,45.3%,1);
  font-weight: 600;
}
.card__time {
  font-size: 12px;
  color: hsla(242,88.4%,45.3%,1);
  vertical-align: middle;
  margin-left: 5px;
  font-weight: 600;
}

.card__clock-info {
  float: right;
  display: flex;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 80%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

</style>
<%# <style>
  .card {
    border-radius: 10px;
    border: none;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-title {
    font-size: 1.4rem;
    color: #2c3e50;
  }

  .btn {
    background-color: #2980b9;
    border: none;
    color: #fff;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #1a6a92;
  }

  .page-title {
    font-size: 2.2rem;
    color: #34495e;
    margin-bottom: 30px;
    font-weight: 600;
  }
</style> %>
