<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
  <h1>Inscrição para <%= @race_day.track %> - <%= @race_day.date.strftime("%d/%m/%Y") %></h1>

  <%= form_with model: [@race_day, @pilot_registration], local: true, data: { turbo: "false" } do |f| %>
    <div>
      <%= f.label :pilot_name, "Nome do Piloto" %>
      <%= f.text_field :pilot_name, presence: true %>
    </div>

    <div>
      <%= f.label :car_number_id, "Escolha um Número de Carro" %>
      <%= f.select :car_number_id, options_for_select(@available_car_numbers.map { |car| [car.number, car.id] }, prompt: "Escolha um número de carro") %>
    </div>

    <div>
      <%= f.submit "Inscrever-se", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<style>
  body{
    background-color: #283e51d4;
    color: white;
  }
</style>
