<!DOCTYPE html>
<html>
  <head>
    <title>Under Control Racing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/footer' %>

  <script>
    (function () {
        window.onload = function () {
            const whatsappButton = document.createElement('a');
            whatsappButton.href = 'https://api.whatsapp.com/send?phone=SEU_NUMERO&text=Olá!';
            whatsappButton.target = '_blank'; // Abre o WhatsApp em uma nova aba
            whatsappButton.style.position = 'fixed';
            whatsappButton.style.bottom = '20px';
            whatsappButton.style.right = '20px';
            whatsappButton.style.width = '30px';
            whatsappButton.style.backgroundColor = '#25D366'; // Cor do botão WhatsApp
            whatsappButton.style.borderRadius = '50%';
            whatsappButton.style.padding = '15px';
            whatsappButton.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.3)';

            // Adicionando ícone do WhatsApp usando Font Awesome
            const whatsappIcon = document.createElement('i');
            whatsappIcon.className = 'fab fa-whatsapp';
            whatsappIcon.style.color = 'white';
            whatsappIcon.style.fontSize = '24px';

            whatsappButton.appendChild(whatsappIcon);
            document.body.appendChild(whatsappButton);
        }
    })();
</script>

<style>
 .fa-whatsapp:before {
    content: "\f232";
    position: relative;
    left: 5px;
    top: 5px;
}
</style>

  </body>
</html>
