<!DOCTYPE html>
<html>
  <head>
    <title>Under Control Racing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

    <!-- Manifest JSON & icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/pwa_icons' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render 'shared/plus' %>
  </body>
</html>

<style>
.alert {
  background-color: #f1d1d1;
    color: #600c0c;
    border: 1px solid #ebbebe;
    padding: 1rem;
    border-radius: 12px;
    text-align: left;
    gap: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var alertElement = document.querySelector('.alert');
  
  if (alertElement) {
    setTimeout(function() {
      alertElement.style.opacity = '0'; // Faz o alerta desaparecer suavemente
      setTimeout(function() {
        alertElement.style.display = 'none'; // Remove o alerta do fluxo do layout após a transição
      }, 500); // Aguarda o fim da transição (0.5 segundos)
    }, 3000); // 3 segundos
  }
});
</script>